<div class="loginBlock">
  <ul>
    <li class="ll">SignUp</li>
    <li>
      <input
        type="text"
        class="form-control"
        id="accid"
        placeholder="Username"
      />
    </li>
    <li>
      <input
        type="password"
        class="form-control"
        id="accpwd"
        placeholder="Password"
      />
    </li>
    <li>
      <input
        type="password"
        class="form-control"
        id="reaccpwd"
        placeholder="ReEnter-Password"
      />
    </li>

    <li>
      <input
        type="text"
        class="form-control"
        id="accmail"
        placeholder="Enter Email"
      />
    </li>
    <li>
      <input
        type="button"
        value="Register"
        class="btn btn primary"
        onclick="newuserSignup()"
      />
      <input
        type="button"
        value="Login"
        class="btn btn primary"
        onclick="loadselectedPage('login');"
      />
    </li>
    <li class="insertMsg">User Data is added...,Now go for Login</li>
  </ul>
</div>
